<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/css/register.css" rel="stylesheet">

    <title> responsive sign-up form using bootstrap</title>
   
  </head>
  <body>
    <section class="Form my-4 mx-5">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-5">
                      <img src="assets/img/signup-image.jpg" class="img-fluid" alt="">
                </div>

                          <form class="rounded bg-white shadow p-5">
                            <h3 class=" text-dark fw-bolder fs-4 mb-2">Create an Account</h3>
                              <div class="fw-normal text-muted mb-4">
                                Already have  an account? <a href="index.html" class="text-primary fw-bold text-decoration-none"> Sign in here</a>
                              </div>


                            <div class="form-row">
                                <div class="col-lg-7">
                                    <input type="text" placeholder="First Name"class="form-control my-3 p-3">
                                    </div>
                                  </div>

                                  <div class="form-row">
                                    <div class="col-lg-7">
                                        <input type="text" placeholder="Last Name"class="form-control my-3 p-3">
                                        </div>
                                      </div>

                                      <div class="form-row">
                                        <div class="col-lg-7">
                                            <input type="email" placeholder="Email-Address"class="form-control my-3 p-3">
                                            </div>
                                          </div>

                                          
                                          <div class="form-row">
                                            <div class="col-lg-7">
                                                <input type="password" placeholder="******"class="form-control my-3 p-3">
                                                <label for="floatingpassword">Password</label>
                                                  <span class="Password-Info mt-2">
                                                       use 8 or more characters with a mix of letters,number and symbol.
                                                   </span>
                                                </div>
                                              </div>
            
    

                                    <div class="form-row">
                                        <div class="col-lg-7">
                                            <input type=" Confirm password" placeholder="Confirm password"class="form-control my-3 p-3">
                                        </div>
                                         </div>
               

                                         <div class="form-check d-flex align-item-center">
                                          <input class="form-check-input" type="checkbox" id="gridCheck">
                                          <label class="form-check-label ms-2" for="gridCheck">
                                            I Agree <a href="#">Terms and conditions</a>.

                                            <button type="sumbit"class="btn btn-primary sumbit_btn w-100 my-4">continue</button>

                                          </label>
                                        </div>
                       
                                        </form>
                </div>
              </div>
    </section>
<!-- 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->



    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->

    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>